@import "src/vector/styles/asse.scss";

$container-height: 50px;

.tab-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $container-height;
    overflow-x: auto;
}

.container-gap{
    height: $container-height;
}

.tab-item{
    padding: 8px 15px;
    white-space: nowrap;
}

.tab-item-line{
    height: 2px;
}

.tab-item-active{
    background-color: $a-blue;
}