@import "src/vector/styles/asse.scss";

$image-matrix: 100px;

.container{
    padding: 10px;
}

.image_container{
    height: $image-matrix;
    width:  $image-matrix;
    border: 1px solid #eee;
    overflow: hidden;
}


.image_container_hide{
    @extend .image_container;
    border: none;
    // :global{ .ant-upload {...}}
}

.close{
    color: #fff !important;
    font-size: 11px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 100;
    border-radius: 50%;
    background-color: $a-font-grey;
}