$image-matrix: 100px;

.container{
    padding: 10px;
}

.image_container{
    height: $image-matrix;
    width:  $image-matrix;
    border: 1px solid #eee;
    overflow: hidden;
}


.image_container_hide{
    @extend .image_container;
    border: none;
}

