@import "~antd/dist/antd.css";
@import "./vector/styles/asse.css";

@keyframes fade-in {  
    0% {opacity: 0;}
    100% {opacity: 1;} 
}  

body{
    padding: 0;
}

.padding-page{
    padding: 10px;
}

#global-spin-element{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
    transition: all .5s;
    animation:fade-in .3s linear;
}

.global-spin-element-hide{
    z-index: -10000;
    opacity: 0;
}

.position-relative{
    position: relative;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar{
    height:4px;
    width:4px;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(136, 136, 136, 0.4);
}

::-webkit-scrollbar-track:hover{
    background: rgba(136, 136, 136, 0.1);
}

